{% extends 'base.html' %}

{% block head %}
<title>Journal Page</title>
{% endblock %}

{% block body %}
<div class="text-center bg-primary text-white p-5">
    <h1>Welcome to the journal page</h1>
</div>
<div class="container text-center p-2">
    <form method="post" action="http://localhost:5000/journalentry">
        <p>Name: <input type="text" name="name" ></p>
        <p>Date: <input type="text" name="date" ></p>
        <p>Journal Entry: <input type="text" name="journalEntry" ></p>
        <p><input type="submit" value="submit"></p>
    </form>
</div>
{% endblock %}
